  @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

  * {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background: #24272A;
    display: flex;
    justify-content: center;
    align-items: center;
    /* opacity: 0.5; */
  }

  .App {
    text-align: center;
  }

  h1 {
    color: #000000;
    margin-bottom: 0.5rem;
    font-size: 1.75rem;
  }

  .TodoWrapper {
    background: #888A8C;
    margin-top: 5rem;
    padding: 2rem;
    border-radius: 5px;
  }

  .TodoForm {
    width: 100%;
  }

  .todo-input {
    outline: none;
    background: none;
    border: 1px solid #000000;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    width: 300px;
    color: #000000;
  }

  .todo-input::placeholder {
    color: #000000;
  }

  .todo-btn {
    background: #FBD147;
    border-radius: 5px;
    color: #000000;
    border: none;
    padding: 0.55rem;
    cursor: pointer;
    margin-left: 10px;
    
  }

  .Todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FBD147;
    color: #000000;
    padding: 0.75rem 1rem;
    border-radius: 5px;
    border: #24272A;
    margin-bottom: 1rem;
    cursor: pointer;
  }

  .fa-trash {
    margin-left: 0.75rem;
  }

  .completed {
    color: #c5aeff;
    text-decoration: line-through;
  }

  .Shivam {
    position: fixed;
    color: #F9F9F9;
    left: 50%;
    bottom: 1%;
    transform: translate(-50%);
    font-size: 0.8rem;
    display: flex;
    align-items: center;
  }
  .Shivam svg {
    margin-right: 5px; /* Adjust as needed */
  }
  
  .Shivam:hover {
    text-decoration: underline;
  }